@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Poppins, sans-serif;
}

::selection {
  color: white;
  background: #9a0ff1;
}

body {
  color: var(--dark);
  background: var(--dark);
}